{% extends "layout.html" %}

{% block content %}

<h2>About - I Heart Heart Cat Cat (Map Map App App)</h2>
<h3>Because the internet is made of cats.</h3>

<p>At first, it was just a simple (hideous) shirt sitting on a hangar in a thrift store.
    But it had dreams of being something...  much more!</p>

<p>Kristin had the idea to send it around the world and document its progress with pictures,
    and so was born the I Heart Heart Cat Cat Map Map App App.</p>

<p>Follow me on twitter: <a href="https://twitter.com/atcatcat">@atcatcat</a>.</p>

{% endblock %}
