{% extends "/empty_layout.html" %}

{% block head %}
<style type="text/css">
    html, body, #map-canvas {
        height:100%;
        margin: 0;
        padding: 0;
    }
    #map-canvas {
        height:100%;
    }
    .mapImgContent {
        text-align:center;
    }
    img.mapImage {
        max-width:100%;
        max-height:415px;
        margin-bottom:1em;
    }
    .catImgContainer {
        text-align:center;
    }
    #catPicModal .modal-footer {
        background-color:#222222;
        color:#aaaaaa;
    }
    .nearbyImage {
        max-height:100px;
    }
    .vcenter {
            float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
    }
</style>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRhVfQYpVDzdJwI7GnvKh5IE5cRTfnWTQ"></script>
<script type="text/javascript">
    var map, bounds;
    var openInfoWindow = null;
    var allCats = null;
    function initialize() {
        var mapOptions = {
            zoom: 7
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        bounds = new google.maps.LatLngBounds();
    }

    $(function () {
        initialize();
        $.get("api/cats", function (data) {
            allCats = data.cats;
            for (var i = 0, len = data.cats.length; i < len; i++) {
                img = data.cats[i];
                if (img.coords != null) {
                    //Lat,Lng
                    var lat = img.coords[1];
                    var lng = img.coords[0];
                    var myLatlng = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: img.title,
                        imgObj: img //custom data
                    });
                    attachWindowListener(marker, img);
                    bounds.extend(myLatlng);
                }
            }
            map.fitBounds(bounds);
        });
    });
    function attachWindowListener(marker, img) {
        google.maps.event.addListener(marker, 'click', function () {
            var img = marker.imgObj;
            $("#catPicModal .imageTitle").text(img.title);
            $("#catPicModal .imageDescription").text(img.description);
            $("#catPicModal .mapImage").attr("src", img.filename).attr("alt", "Cat Cat Image: " + img.title);
            $('#catPicModal').modal('show');
            //look for nearby cats:
            //perhaps set up "loading" icons first...
            var $nearImgs = $("#catPicModal .nearImage");
            $nearImgs.html("");
            $.get("api/nearby_cats/" + img.id, function (data) {
                var dataIdx = 0;
                for (var domIdx = 0; domIdx < $nearImgs.length && dataIdx < data.nearby.length; domIdx++) {
                    var row = data.nearby[dataIdx];
                    var $imgContainer = $($nearImgs[domIdx]);
                    var $img = $('<img class="nearbyImage img-responsive" />');
                    $img.attr("src", row.filename).attr("title", row.title);
                    $imgContainer.html('').append($img);
                    dataIdx++;
                }
            });
        });
    }
</script>
{% endblock %}

{% block content %}

<div style="padding-top:50px; height:100%" class="clearfix">
    <div id="map-canvas"></div>
</div>

<!-- Cat Cat Image display modal -->
<div class="modal fade" id="catPicModal" tabindex="-1" role="dialog" aria-labelledby="catPicModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="catPicModalLabel"><span class="imageTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="catImgContainer">
                    <img class='mapImage' />
                    <div class="imageDescription"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:left;">
                    <div>Nearby Cats:</div>
                    <div class="row nearby_images">
                        <div class="col-md-3 nearImage center-block vcenter"></div>
                        <div class="col-md-3 nearImage center-block vcenter"></div>
                        <div class="col-md-3 nearImage center-block vcenter"></div>
                        <div class="col-md-3 nearImage center-block vcenter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
